.icon-edit {
	mask-image: url('../../assets/images/global/icons/icon-edit.svg');
}
.icon-delete {
	mask-image: url('../../assets/images/global/icons/icons-trash.svg');
}
.icon-close {
	mask-image: url('../../assets/images/global/icons/close-icon.svg');
}
